<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naohman.language.transsiberian"
    android:installLocation="preferExternal" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Splash"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Definition"
            android:label="@string/title_activity_definition" >
        </activity>
        <activity
            android:name=".Activities.Translate"
            android:label="@string/title_activity_translate" >
        </activity>
        <activity
            android:name=".Activities.Landing"
            android:label="@string/title_activity_landing" >
        </activity>
        <activity
            android:name=".Activities.Exchange"
            android:label="@string/title_activity_exchange"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".Activities.Study"
            android:label="@string/title_activity_study" >
        </activity>
    </application>

</manifest>
